<html>
    <body>
        <H1><%=pikachudata.name%></H1>
        <P>
        id: <%=pikachudata.id%><br>
        gewicht:<%=pikachudata.weight%><br>
        <img src='<%=pikachudata.sprites.front_default%>'/>
        <img src='<%=pikachudata.sprites.back_shiny%>'/>
        </P>
    </body>
</html>